
<h1>Recipes App</h1>


<div class="a-wrapper">
  <div class="left">
    <div class="autoComplete_wrapper">
      <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off">
    </div>
  </div>
  <div class="right">
    <div class="my-list">
      My List
      <div class="list-items">
      </div>
    </div>
  </div>
</div>



<div clas="buttons">
  <button onclick="getRecipes()"> Get Recipes</button>
  <button onclick="clearList()"> Reset</button>
</div>

<div class="recipes-container">
</div>