// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
.a-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 2%;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
}

.my-list {
  padding: 5px;
  border: 1px solid pink;
  font-family: 'Roboto', sans-serif;
}

.list-item {
  color: #6F69F9FF;
  font-size: 1rem;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.list-items {
  padding: 15px;
  width: 100%;
}

.recipes-container {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 75%;
  margin-top: 25px;
}

.recipe-ing-container {
  margin-right: 20px
}

.ing-title-2 {
  font-size: 1.05rem;
  font-weight: 500;
  color: #462be2;
}

.ing-container {
  margin-top: 15px;
}

.img-container {
  width: 50%;
}
img {
  width: 25%;
}

.recipe {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #6f69f9;
  padding: 10px;
  margin-top: 5px;
}

.ing-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: blueviolet;
}